html {
    scroll-behavior: smooth;
}

body {
    overflow: hidden;
}


h1, p, h2, a, li{
    font-family: obviously-wide, sans-serif;
    color: white;
}

svg {
    position: relative;
    z-index: 0;
    opacity: 0.3;
}

h1 {
    font-size: 60px;
    margin-bottom: 15px;
    position: relative;
    left: -8px;
}

h2 {
    font-size: 25px;
}

p, li {
    font-size: 12px;
    
}

.bg {
    width: 300vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    overflow: hidden;
    text-shadow: none;
    /* background: linear-gradient(115deg, rgb(211, 255, 215) 0%, rgb(0, 0, 0) 100%), radial-gradient(90% 100% at 50% 0%, rgb(200, 200, 200) 0%, rgb(22, 0, 45) 100%), radial-gradient(100% 100% at 50% 0%, rgb(250, 255, 0) 0%, rgb(36, 0, 0) 100%), radial-gradient(150% 213.32% at 100% 0%, rgb(112, 255, 0) 0%, rgb(20, 175, 125) 150%, rgb(0, 10, 255) 100%), radial-gradient(100% 200% at 100% 0%, rgb(255, 77, 0) 0%, rgba(0, 200, 255, 1) 100%), linear-gradient(60deg, rgb(255, 0, 0) 0%, rgb(120, 86, 255) 100%);
    background-blend-mode: overlay, overlay, difference, difference, difference, normal; */
    background-position: 0px 7000px;
    background-size: 200%;
    background: linear-gradient(121.28deg, #d68f00 0%, #951b1b 40.08%), linear-gradient(140.54deg, #FF0000 0%, #0047FF 72.37%), linear-gradient(121.28deg, #00E384 0%, #FF0000 100%), linear-gradient(121.28deg, #FA00FF 0%, #00FF38 100%), linear-gradient(127.43deg, #00F0FF 0%, #A80000 100%), radial-gradient(100.47% 100% at 50% 100%, #70FF00 0%, #680199 100%), linear-gradient(127.43deg, #B7D500 0%, #2200AA 100%);
    height: 900vh;
    background-blend-mode: darken, hue, overlay, color, color-dodge, difference, normal;
    /* background: linear-gradient(121.28deg, #03002C 0%, #00FF94 100%), linear-gradient(180deg, #00647A 0%, #FFFFFF 100%), linear-gradient(244.35deg, #FF8282 0%, #E86B6B 50.58%, #001B29 100%), linear-gradient(244.35deg, #E03F3F 0%, #00114B 49.48%, #FF0000 100%), radial-gradient(100% 216.55% at 0% 0%, #2400FF 0%, #FF0000 44.27%, #610051 100%), linear-gradient(307.27deg, #096F5C 0.37%, #687EB5 50.19%, #8877CE 100%), radial-gradient(56.34% 100% at 36.02% 0%, #FF00C7 0%, #006C7A 38.54%, #FF9900 100%);
    background-blend-mode: overlay, difference, exclusion, overlay, difference, color-dodge, normal; */
    /* background: linear-gradient(129.96deg, #FF2F2F 10.43%, #000460 92.78%), radial-gradient(100% 246.94% at 100% 0%, #FFFFFF 0%, #020063 100%), linear-gradient(58.72deg, #2200F2 0%, #530000 100%), linear-gradient(154.03deg, #B70000 0%, #FF003D 74.04%), linear-gradient(341.1deg, #FF0000 7.52%, #0038FF 77.98%), linear-gradient(136.23deg, #00C2FF 11.12%, #FF0000 86.47%), radial-gradient(57.37% 100% at 50% 0%, #B50000 0%, #0034BB 100%);
    background-blend-mode: overlay, color-burn, screen, overlay, difference, difference, normal;         */
    /* background: linear-gradient(50.22deg, #0066FF 0%, #FFAA7A 51.63%), linear-gradient(238.72deg, #FF0000 0%, #000000 100%), linear-gradient(301.28deg, #FF0000 0%, #735A00 100%), linear-gradient(121.28deg, #207A00 0%, #950000 100%), linear-gradient(238.72deg, #FFB800 0%, #000000 100%), linear-gradient(238.72deg, #00D1FF 0%, #00FF38 100%), linear-gradient(58.72deg, #B80000 0%, #1B00C2 100%), linear-gradient(125.95deg, #00E0FF 10.95%, #87009D 100%), linear-gradient(263.7deg, #B60000 3.43%, #B100A0 96.57%), linear-gradient(130.22deg, #DBFF00 18.02%, #3300FF 100%);
    background-blend-mode: multiply, color-dodge, difference, color-dodge, difference, lighten, difference, color-dodge, difference, normal; */
    /* background: linear-gradient(180deg, #57C601 0%, #320049 100%), linear-gradient(121.28deg, #007762 0%, #5200FF 100%), linear-gradient(341.1deg, #FF0000 7.52%, #1700A4 77.98%), radial-gradient(49.82% 80.51% at 49.82% 50%, #820097 0%, #FF3D00 100%), radial-gradient(50% 72.12% at 50% 50%, #EB00FF 0%, #0B0037 100%);
    background-blend-mode: color-dodge, overlay, difference, difference, normal; */
    /* background: linear-gradient(50.22deg, #0066FF 0%, #FFAA7A 51.63%), linear-gradient(238.72deg, #FF0000 0%, #000000 100%), linear-gradient(301.28deg, #FF0000 0%, #735A00 100%), linear-gradient(121.28deg, #207A00 0%, #950000 100%), linear-gradient(238.72deg, #FFB800 0%, #000000 100%), linear-gradient(238.72deg, #00D1FF 0%, #00FF38 100%), linear-gradient(58.72deg, #B80000 0%, #1B00C2 100%), linear-gradient(125.95deg, #00E0FF 10.95%, #87009D 100%), linear-gradient(263.7deg, #B60000 3.43%, #B100A0 96.57%), linear-gradient(130.22deg, #DBFF00 18.02%, #3300FF 100%);
    background-blend-mode: multiply, color-dodge, difference, color-dodge, difference, lighten, difference, color-dodge, difference, normal; */
    overflow: hidden;
}

/*Navbar*/

header {
    position: absolute;
    background-color: none;
    z-index: 1000;
    min-height: 200px;
}

.navbar {
    position: fixed;
    display: flex;
    justify-content: center;
    width: 100%;
}

.synkron {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    text-decoration: none;
    color: #fff;
    top: 20px;
    left: 5%;
    font-size: 1.3rem;
    font-weight: 500;
    position: relative;
}

.nav-menu {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: none;
    width: 100%;
    transition: 0.2s;
    position: absolute;
    left: 100%;
    top: 200%;
    height: 280%;
}

.nav-menu.active {
    top: 0%;
    left: 0%;
    border-radius: 20px;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.37);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.7px);
    -webkit-backdrop-filter: blur(4.7px);
    border: 1px solid rgba(0, 0, 0, 0.3);
}

.nav-link {
    color: rgb(187, 186, 186);
    font-family: obviously-wide, sans-serif;
    text-decoration: none;
    font-size: 30px;
    margin-bottom: 10px;
}


.nav-item {
    position: relative;
    font-family: obviously-wide, sans-serif;
    width: 100%;
    text-align: right;
    padding-top: 30px;
    right: 12%;
    top: 5%;
}

.SoMe {
    padding: 30px 0;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin: 100px 0 100px 0;
}

.SoMe-color {
    width: 60px;
    height: 60px;
    background-color: #fff;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.muib {
    font-size: 40px;
    letter-spacing: 3px;
    line-height: 50px;
    text-align: center;
}


.nav-some {
    width: 40px;
}

.hamburger {
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 20px;
    display: flex;
    flex-direction: column;
    width: 35px;

}

.bar {
    display: block;
    background-color: white;
    width: 35px;
    height: 2px;
    margin-bottom: 5px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.halfbarone {
    position: relative;
    width: 50%;
    left: 50%;
}

.halfbartwo {
    width: 50%;
    left: -25%;
}

.hamburger.active .bar:nth-child(2){
    opacity: 0;
    
}

.hamburger.active .bar:nth-child(1){
    transform: translateY(8px) rotate(45deg); 
    width: 100%;
    left: 0px;
    top: -2px;
}

.hamburger.active .bar:nth-child(3){
    transform: translateY(-8px) rotate(-45deg); 
    width: 100%;
    left: 0;
}

@media only screen and (min-width: 440px) {

    .bg {
        height: 7500px;
    }

    .interested-container {
        justify-content: space-between;
    }
}

@media only screen and (min-width: 800px) {

    .bg {
        height: 6700px;
    }
    .interested-container {
        width: 90%;
    }

    .footer {
        display: block;
    }
}

@media only screen and (min-width: 1000px) {

    .burgerbarlogo {
        display: none;
    }
  
    .featured-project{
        margin-top: 0%;
        flex-direction: row;
        height: 100vh;
    }

    .billeder-mobil {
        justify-self: flex-start;
        width: 50%;
        flex: 0 0 60%;
    }

    .featured-text-area {
        display: flex;
        flex-direction: column;
        position: relative;
        top: 20%;
        width: 50%;
        height: 100%;
        flex: 0 0 40%;
    }
    

    .featured-text-area h1 {
        font-size: 60px;
    }

    .featured-text-area > h2 {
        width: 80%;
        font-size: 15px;
        line-height: 15px;
    }

    .view-project-button {
        margin-top: 100px;
    }

    .approach-section {
        justify-content: flex-start;
    }

    .approach-text-area {
        display: flex;
        flex-direction: row;
    }

    .approach-section h1 {
        font-size: 60px;
    }
    
    .approach-section > h2 {
        width: 95%;
        font-size: 15px;
        line-height: 15px;
    }


    .approach-text-area {
        height: 400px;
    }

    .approach-main-text {
        display: flex;
        flex-direction: row;
        width: 50%;
    }

    .approach-main-text p {
        width: 100%;
        font-size: 10px;
    }

    .approach-img-area {
        width: 50%;
        height: 100%;
    }

    .approach-img-area div {
        display: flex;
        align-items: center;
        width: 30%;
    }

    .image-container:nth-child(1) {
        width: 60%;
        position: relative;
        top: 10%;
        left: 10%;
        filter: grayscale();
    }

    .image-container:nth-child(2) {
        width: 50%;
        position: relative;
        top: 70%;
        left: -5%;
        filter: grayscale();
    }

    .image-container:nth-child(3) {
        width: 40%;
        position: relative;
        top: -30%;
        left: -20%;
        filter: grayscale();
    }


    /* Header CSS */
    .synkron {
        display: block;
        left: 5%;
        position: relative;
        font-size: 1.3rem;
        color: white;
        position: relative;
        top: 0px;
    }

    header {
        position: absolute;
    }

    .hamburger {
        display: none;
    }

    .burgerbarlogo {
        display: none;
    }

    .navbar {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        height: 8%;
        background: rgba(216, 216, 216, 0);
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(14.6px);
        -webkit-backdrop-filter: blur(14.6px);
    }

    .nav-menu {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        position: relative;
        top: 0px;
        left: 10%;
        width: 100%;
        height: 100px;
        margin: 0px 60px;
    }

    .nav-item {
        justify-content: center;
        width: auto;
        margin-right: 40px;
        padding-top: 0;
        padding-left: 0;
    }

    .nav-item:nth-child(4) {
        margin-right: 50px;
    }

    .nav-link {
        font-size: 1rem;
    }

    .SoMe {
        display: none;
    }

    .muib {
        display: none;
    }


    .contact {
        font-size: 60px !important;
    }
    
    .form-control {
        width: 750px;
    }

    .interested-container {
        width: 100%;
    }

}

  @media only screen and (min-width: 1300px) {
    /* Project filter dropdown off */

    .dropdown {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100vw;
        left: 0%;
      }

    .dropdown-content {
        margin-bottom: 20px;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        justify-content: center;
        background-color: transparent;
        box-shadow: none;
        z-index: 1;
        position: relative;
      }

    .dropdown-content li:hover {background-color: transparent}

    .dropbtn {
        display: none;
    }

    #myDropdown {
        width: 80vw;
    }

    .dropdown-content li {
        display: inline-block;
        margin-left: 20px;
        padding: 0;
        color: #fff;
    }
}

@media only screen and (min-width: 1400px) {

    .featured-project{
        margin-top: 0%;
        height: 60vw;
        padding-left: 5%;
    }

    .featured-img-area {
        display: block;
        flex: auto;
    }

    .billeder-mobil {
        display: none;
    }

    .featured-text-area > h2 {
        width: 60%;
        line-height: 25px;
    }

    .featured-text-area h1 {
        font-size: 80px;
    }

    .approach-text-area h1 {
        font-size: 80px;
    }

    .approach-text-area h2 {
        width: 60%;
        line-height: 25px;
    }

    .approach-main-text {
        margin-top: 100px;
    }

    .nav-menu {
        margin-left: 45%;
        width: 55%;
    }  
    
    .approach-section > h2 {
        width: 40%;
    }

    .contact {
        font-size: 80px !important;
    }
}

